@font-face {
  font-family: "DIN Regular";
  src: url("DIN-Regular.woff");
}

body {
  font-family: "DIN Regular";
}

.c2a-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(76, 100, 255);
  max-width: 100%;
  max-height: 500px;
}

.c2a-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 50%;
}

.c2a-text {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 20%;
}

.c2a-buttons {
  display: flex;
  margin-left: 20%;
}

.b4 {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 2px;
  border-radius: 10px;
}

.b5 {
  background-color: white;
  border: 1px solid transparent;
  padding: 2px;
  color: rgb(76, 100, 255);
  margin-left: 15%;
  border-radius: 10px;
}

.c2a-video {
  display: flex;
  justify-content: center;
  min-width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 1%;
}

.c2a-stream {
  border-radius: 15px;
  max-width: 100%;
  max-height: 100%;
}
