@font-face {
  font-family: "DIN Regular";
  src: url("DIN-Regular.woff");
}

body {
  font-family: "DIN Regular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 40px;
  font-weight: bold;
  align-items: center;
}

.footer-background {
  position: absolute;
  bottom: 1;
  left: 0;
  width: 50%;
  height: 50%;
  background-image: url(https://www.datocms-assets.com/91872/1685008177-chas_footer_background.png?dpr=0.5&fit=clamp&fm=webp);
  background-size: contain;
  background-position: start;
  background-repeat: no-repeat;
  z-index: -1;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
  padding: 5%;
}

.f2 {
  border: 1px solid;
}

.b3 {
  background-color: transparent;
  border-radius: 15px;
  padding: 15px 30px 12px;
  font-weight: bold;
  border: 1px solid black;
  font-size: 14px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  max-width: 50%;
  justify-content: space-between;
  align-items: stretch;
  font-size: 18px;
}

.footer-links p {
  font-weight: normal;
}

.footer-links1 a,
.footer-links2 a {
  margin-bottom: 15px;
}

.footer-links1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 25%;
  white-space: nowrap;
}

.footer-links2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 25%;
  white-space: nowrap;
}

.canvas-buton button {
  padding: 5px 10px;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 15px;
  background: transparent;
}

.canvas-buton img {
  width: 70px;
  height: auto;
}

.footer-logo {
  display: flex;
  max-width: 25%;
}

.logo2 {
  display: flex;
  height: 150px;
}
