/* header.css */
@font-face {
  font-family: "DIN Regular";
  src: url("DIN-Regular.woff");
}

body {
  font-family: "DIN Regular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header {
  background-image: url("/images/chas-header-background.jpg");
  background-size: cover;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}

.header-logo img {
  width: 120px;
}

.header-navigation a,
.apply-button {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.apply-button {
  background-color: #4c64ff;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  color: white;
  cursor: pointer;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero-content h1 {
  font-size: 40px;
  font-weight: bold;
}

.hero-content p {
  font-size: 20px;
  max-width: 600px;
  margin: 20px auto;
}
