@font-face {
  font-family: "DIN Regular";
  src: url("DIN-Regular.woff");
}

body {
  font-family: "DIN Regular";
}

.main-sell-container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: space-evenly;
  background-color: rgb(248, 249, 249);
}

.hero-img {
  display: flex;
  justify-content: center;
  max-width: 50%;
}

.hero-img1 {
  max-width: 80%;
  max-height: 80%;
  align-self: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}

.sell-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20%;
}

.hero-buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 5%;
}

.b2 {
  border-radius: 10px;
  background-color: black;
  color: white;
  border-color: black;
  padding: 5px;
}

.b3 {
  border-radius: 10px;
  background-color: white;
  color: black;
  border-color: black;
  padding: 5px;
  margin-left: 5%;
}
