@font-face {
  font-family: "DIN Regular";
  src: url("DIN-Regular.woff");
}

body {
  font-family: "DIN Regular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #f8f9f9;
  margin-bottom: 40px;
}

.hero-image img {
  width: 500px;
  height: auto;
}

.hero-text {
  max-width: 50%;
}

.hero-text p {
  font-size: 20px;
}

.hero-buttons button {
  margin-right: 20px;
  padding: 10px 20px;
}

.apply-button2 {
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
}

.read-more-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 15px;
}
