@font-face {
  font-family: "DIN Regular";
  src: url("DIN-Regular.woff");
}

body {
  font-family: "DIN Regular";
}

.reco-header {
  text-align: center;
}

.reco-container {
  display: flex;
}

.reco-main {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.student {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reco-image {
  display: flex;
  justify-content: center;
}

.student-img {
  border-radius: 10px;
  max-height: 300px;
}

.reco-content {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: auto;
}

.reco-footer {
  display: flex;
  margin-left: 5%;
  margin-right: auto;
}
